root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{feature,json,md,yaml,yml,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
